# Name: Otsu Thresholding

#  This algorithm is an implementation of Otsu thresholding technique 
#  based on the minimization of inter-class variance [otsu79].

# Author: Christopher Mei (christopher.mei at sophia.inria.fr)
# Version: 1.0
# Date: 2003/12/15
# Requires: ImageJ 1.31s

Plugins>Filters, "Otsu Thresholding",OtsuThresholding_
Help>About Plugins, "Otsu Thresholding...", OtsuThresholding_("about")
